# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
coverage/
.jest/

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/android
/ios/*
!/ios/IdolSongAppPreview.xcodeproj/
/ios/IdolSongAppPreview.xcodeproj/*
!/ios/IdolSongAppPreview.xcodeproj/project.pbxproj
!/ios/IdolSongAppPreview/
/ios/IdolSongAppPreview/*
!/ios/IdolSongAppPreview/Supporting/
/ios/IdolSongAppPreview/Supporting/*
!/ios/IdolSongAppPreview/Supporting/IdolSongAppPreview.debug.xcconfig
!/ios/IdolSongAppPreview/Supporting/IdolSongAppPreview.release.xcconfig
!/ios/IdolSongAppPreview/Supporting/IdolSongAppPreview.shared.xcconfig
!/ios/IdolSongAppPreview/Supporting/IdolSongAppPreview.signing.local.example.xcconfig
!/ios/IdolSongAppPreview/Supporting/IdolSongAppPreview.production.signing.local.example.xcconfig
